<div class="notification">
    <div id="slider1" class="sliderwrapper">

      <marquee><h3>Trường Cao đẳng nghề Đà Nẵng được thành lập theo Quyết định số: 194/QĐ-BLĐTB&XH ngày 31/1/2007 của Bộ Lao động Thương binh và Xã hội trên  cơ sở nâng cấp Trường Kỹ thuật -  Kinh tế Đà Nẵng.</h3></marquee>

      </div>
      <div id="paginate-slider1" class="pagination"></div>

      <div class="clear"></div>
  </div>
