
<tr>
  <td><%= khoa_table.id %>.</td>
  <td><%= khoa_table.tenkhoa %></td>
  <td><%= khoa_table.giao_viens.size %></td>
  <td>
    <%= link_to admin_quyens_path(khoa_table.id, params_khoa: khoa_table.id), method: :post, class: "button-show load-alert" do %>
      <span class="button-inner">
        <button class="btn button button-show-small">
          <span class="text">Cập Nhật</span>
        </button>
      </span>
    <% end %>
  </td>
</tr>
