
<div class="login-box">
  <div class="login-logo">
    <!-- <a href="../../index2.html"><b>Admin</b>LTE</a> -->
    <%= link_to root_path do %>
      <b>DANA</b>VTC
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Đăng ký vào hệ thống quản trị</p>

    <h2>Bạn không được phép</h2>


    <%= render "devise/shared/links" %>

  </div>
  <!-- /.login-box-body -->
</div>
