<li class="active" data-ma-mon-hoc="<%= "#{ mon_hoc.id }" %>">
  <a href="#">
    <i class="fa fa-inbox"></i>
      <%= mon_hoc.tenmonhoc %>
    <span class="label label-primary pull-right">
      Số Tín Chỉ : <%= mon_hoc.hesotinchi.to_i %>
    </span>
  </a>
</li>
