<% if sinhviens.present? %>
  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <th>Số Thức Tự</th>
      <th>Tên Sinh Viên</th>
      <th>Năm Sinh</th>
      <th>Mã Sinh Viên</th>
    </thead>
    <tbody>
      <% sinhviens.each_with_index do |sinhvien, index| %>
        <tr>
          <td> <%= index %> </td>
          <td> <%= sinhvien.tensinhvien %> </td>
          <td> <%= sinhvien.namsinh %> </td>
          <% if sinhvien.tai_khoan.present? %>
            <td> <%= sinhvien.tai_khoan.username %> </td>
          <% else %>
            <td>Chưa có</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3 class="text-center">Chọn lớp.</h3>
<% end %>
