<div class="tab-content">
  <%= render "khoa_search", khoas: @khoas, lops: @lops %>
  <div class="table_show_sinhvien">
  </div>
</div>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "form_search.js" %>
  </script>
<% end %>
