<%= search_form_for [:admin, search] do |fs| %>
  <div class="box filtertable">
    <div class="box-header width-border">
      <h3 class="box-title">Tìm kiếm giáo viên</h3>
    </div>
    <div class="box-body">
      <div class="col-md-12 form-group">
        <div class="col-md-6">
          <%= fs.search_field :tengiaovien_cont, class: "form-control",
            placeholder: "Nhập Tên Giáo Viên" %>
        </div>
        <%= fs.submit "Tìm Kiếm", class: "btn btn-info col-md-1 search-alert" %>
        <%= link_to "Làm mới", admin_giao_viens_path, class: "btn btn-default col-md-1 margin-left-20 bg-green", data: {turbolinks: false} %>
      </div>
    </div>
  </div>
<% end %>
