.content-wrapper {
  background: url(dotmap.png) no-repeat 50% 0;
  background-color: #fffae7 !important;
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px !important;
}

.menu-header-button {
  float: right;
  margin-bottom: 20px;
}
