@import "bootstrap-sprockets";
@import "bootstrap";


.btn-login {
  border: #e1e1e1 solid 1px;
  background: url(buttonone.gif) repeat-x;
  border-radius: 5px;
}

#login-logout {
  a {
    color: red;
  }
}

.pagination_center {
  text-align: center;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.margin-left-20 {
  margin-left: 20px;
}
