<footer class="application-footer">
    <div class="container">
        <p>Trường Cao Đẳng Nghề Đà Nẵng</p>
        <div class="disclaimer">
            <p>Hệ Thống Quản Lý Sinh Viên.</p>
            <p>Copyright © DanaVTC 2017-2018</p>
        </div>
    </div>
</footer>
