<section class="nav nav-page">
<div class="container">
    <div class="row">
        <div class="span7">
            <header class="page-header">
                <h3>Thông Báo Toàn Trường<br/>
                    <small>Tất Cả Các Học Sinh Đều Được Nghĩ Giỗ Tổ Hùng Vương</small>
                </h3>
            </header>
        </div>

    </div>
</div>
</section>
