<div class="body-nav body-nav-horizontal body-nav-fixed">
    <div class="container">
        <ul>
            <li>
                <a href="#">
                    <i class="icon-dashboard icon-large"></i> Thông Báo
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-calendar icon-large"></i> CT Đào Tạo
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-map-marker icon-large"></i> Kế Hoạch
                </a>
            </li>
            <li>
                <%= link_to daotao_sinh_viens_path do %>
                  <i class="icon-tasks icon-large"></i> TT Sinh Viên
                <% end %>
            </li>
            <li>
                <a href="#">
                    <i class="icon-cogs icon-large"></i> Quy Chế
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-list-alt icon-large"></i> Điểm
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-bar-chart icon-large"></i> Hướng Dẩn
                </a>
            </li>
        </ul>
    </div>
</div>
