<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Menu Hệ Thống</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Hệ Thống</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_lops_path do %>
              <i class="fa fa-circle-o"></i>
              Lớp
            <% end %>
          </li>
           <li>
             <%= link_to admin_sinh_viens_path do %>
               <i class="fa fa-circle-o"></i>
               Sinh Viên
             <% end %>
            </li>

        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Lịch Báo Giảng</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_lich_giangs_path do %>
              <i class="fa fa-circle-o"></i>
              Lịch Giảng
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to admin_thong_baos_path do %>
          <i class="fa fa-envelope-open-o"></i> <span>Thông Báo</span>
          <span class="pull-right-container">
          </span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
